.mu-float-wrapper.mu-format-picker-container {
    overflow: visible;

    border-radius: var(--interaction-radius);
}

.mu-format-picker {
    width: 265px;
    height: var(--interaction-hit-size);
}

.mu-format-picker ul,
.mu-format-picker li {
    margin: 0;
    padding: 0;
}

.mu-format-picker ul {
    display: flex;
    padding: 0 7px;
}

.mu-format-picker li.item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35px;
    height: var(--hit-target-sm, 28px);

    list-style: none;
    cursor: pointer;
}

.mu-format-picker li.item:hover {
    background: var(--interaction-surface-hover);
}

.mu-format-picker li.item:last-of-type {
    margin-left: 6px;
}

.mu-format-picker li.item:last-of-type::before {
    position: absolute;
    top: 6px;
    left: -3px;

    width: 1px;
    height: 18px;

    background: var(--interaction-border);

    content: '';
}

.mu-format-picker li.item .icon-wrapper {
    display: flex;
    width: var(--interaction-icon-size);
    height: var(--interaction-icon-size);
}

.mu-format-picker li.item .icon-wrapper i.icon {
    position: relative;

    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: var(--icon-color);

    transition: all 0.25s ease-in-out;
}

.mu-format-picker li.item .icon-wrapper i.icon > i[class^='icon-'] {
    position: relative;
    left: calc(-1 * var(--interaction-icon-size));

    display: inline-block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(var(--interaction-icon-size) 0 currentcolor);
}

.mu-format-picker li.item.active .icon-wrapper i.icon {
    color: var(--theme-color);
}
.mu-format-picker li.item.active {
    background: var(--interaction-selection);
    border-radius: var(--interaction-radius);
}
