.mu-transformer .bar {
    position: absolute;

    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 50px;

    background: var(--theme-color);
    border: 2px solid var(--interaction-surface);
    border-radius: var(--interaction-radius);
    box-shadow: var(--interaction-shadow);
}

.mu-transformer .left {
    cursor: ew-resize;
}

.mu-transformer .right {
    cursor: ew-resize;
}
