.mu-float-wrapper.mu-table-column-tools-container {
    overflow: visible;

    border-radius: var(--interaction-radius);
}

.mu-table-column-tools {
    min-width: 228px;
    height: var(--interaction-hit-size);
}

.mu-table-column-tools ul,
.mu-table-column-tools li {
    margin: 0;
    padding: 0;
}

.mu-table-column-tools ul {
    display: flex;
    padding: 0 5px;
}

.mu-table-column-tools li.item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: var(--interaction-hit-size);
    height: var(--interaction-hit-size);
    padding: 0 7px;

    list-style: none;
    cursor: pointer;
}

.mu-table-column-tools li.item:hover {
    background: var(--interaction-surface-hover);
}

.mu-table-column-tools li.item.size {
    min-width: 58px;
    margin-right: 4px;
    border-right: 1px solid var(--interaction-border);
}

.mu-table-column-tools li.item .icon-wrapper {
    display: flex;
    width: var(--interaction-icon-size);
    height: var(--interaction-icon-size);
}

.mu-table-column-tools li.item .icon-wrapper i.icon {
    position: relative;

    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: var(--icon-color);

    transition: all 0.25s ease-in-out;
}

.mu-table-column-tools li.item .icon-wrapper i.icon > i[class^='icon-'] {
    position: relative;
    left: calc(-1 * var(--interaction-icon-size));

    display: inline-block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(var(--interaction-icon-size) 0 currentcolor);
}

.mu-table-column-tools li.item.active .icon-wrapper i.icon {
    color: var(--theme-color);
}

.mu-table-column-tools li.item.active {
    background: var(--interaction-selection);
    border-radius: var(--interaction-radius);
}

.mu-table-column-tools .text-label {
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}
